<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ css_file }}">
    <script src="{{ js_file }}"></script>
  </head>
  <body>
    <h1>{{ page_heading }}</h1>
    <p class="{{ message_class }}">Hello from ITI!</p>
    <button id="myButton">Next</button>
  </body>
</html>
